.experiences {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 0px;
    margin-top: 8px;
    color: #837E9F;

    li {
        width: fit-content;
        padding: 8px;
        border-radius: 8px;
        margin: 4px;
    }
}